.productPhoto {
  width: 160px;
  height: 120px;
  object-fit: cover;

  padding: 5px;
}
.productPhotoThumb {
  width: 50px;
  height: 30px;
  object-fit: cover;
}
.groupImg {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.groupImg h5 {
  padding-left: 5px;
  color: salmon;
}
.tittleProduct {
  color: salmon;
}
.productInfo td {
  height: fit-content;
  vertical-align: middle;
  border-bottom: 3px solid salmon;
  padding: 0 10px;
}
.productInfo h4 {
  margin: 0;
  text-align: left;
}
.productDes {
  text-align: left;
  margin: 0;
}
.priceP {
  margin: 0;
  display: inline-block;
}
.groupQ {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.buttonQ {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 38px;
  margin-left: 10px;
}
.buttonQ button {
  border: 0;
  background-color: salmon;
  color: white;
  border-radius: 3px;
  width: 18px;
  height: 20px;
  text-align: center;
  /* font-size: 10px; */
}
.List-Cart table .buttonMain {
  width: 50px !important;
  margin: 0 10px;
}
.buttonMain {
  border: 0;
  background-color: salmon;
  color: white;
  border-radius: 3px;
  width: 60px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 10px 0;
}
.buttonHome {
  position: relative;
  left: 48px;
  /* margin-right: 20px; */
  background-color: rgb(255, 139, 126);
  border: 0;
  color: white;
  border-radius: 3px;
  width: 50px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  float: right;
}
.buttonTopbar {
  margin: 0 3px;
  background-color: rgb(255, 177, 168);
  border: 0;
  color: white;
  border-radius: 3px;
  /* width: 60px; */
  padding: 0 10px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
}
.List-Products {
  border: 5px solid salmon;
  width: 80%;
  height: fit-content;
  margin: auto;
  padding: auto;
}
h1 {
  background-color: salmon;
  margin-top: 0;
  color: white;
  text-align: left;
  padding: 5px 50px;
  letter-spacing: 14px;
  font-size: 22px;
  font-weight: 200;
}
table {
  width: 100%;
  padding: 0;
  margin: 0;
  /* position: relative; */
}
.scrollTb {
  position: relative;
  width: 100%;
  height: 450px;
}
tbody {
  position: relative;
  /* top: 30px; */
}
.tableScroll {
  /* width: 100%; */
  display: block;
  overflow-y: auto;
  height: 400px;
}
.List-Cart thead {
  /* width: 796px; */
  /* position: fixed; */
  background-color: white;
  z-index: 10;
}
.List-Cart table {
  text-align: center;
}
.List-Cart table {
  width: 100%;
}

.List-Cart tbody {
  /* height: 200px;  */
  overflow-y: auto;
}
.footerCart {
  text-align: center;
}
.List-Cart {
  border: 5px solid salmon;
  width: 600px;
  height: fit-content;
  height: 603px;
  margin: auto;
}
.cartInfo td {
  /* height: 100px; */
  vertical-align: middle;
  border-bottom: 3px solid salmon;
  /* padding: 10px 0; */
  width: 100%;
}
thead th {
  border-bottom: 3px solid salmon;
  padding: 10px 0px;
  width: 100%;
}
button:hover {
  background-color: antiquewhite;
  color: salmon;
  box-shadow: rgb(255, 87, 87) 0px 0px 0px 2px;
}

.List-Cart p {
  /* color: rgb(104, 104, 104); */
  /* font-size: 18px; */
  letter-spacing: 1px;
}

p span {
  color: salmon;
}

.List-Cart:hover,
.List-Products:hover {
  box-shadow: rgba(255, 113, 113, 0.25) 0px 50px 100px -20px,
    rgba(255, 166, 32, 0.3) 0px 30px 60px -30px,
    rgba(255, 21, 21, 0.35) 0px -2px 6px 0px;
}

/*  */
