.App {
  text-align: center;
  width: 800px;
  margin: auto;
  /* padding-top: 40px; */
}
.todovalue {
  float: left;
  padding-left: 5px;
  text-align: left;
  display: block;
  width: 100%;
  margin-bottom: 0;
}
#buttonXN:hover {
  background-color: #6c757d;
  color: white;
}
.infoTodo {
  width: 100%;
}
.btn:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.progress {
  margin-top: 5px !important;
  margin-bottom: 10px;
  --bs-progress-bar-bg: rgb(0, 194, 113) !important;
}
.show {
  color: #ffffff !important;
  background: rgb(0, 93, 184) !important;
  background: linear-gradient(
    0deg,
    rgb(29, 183, 255) 0%,
    rgb(0, 194, 113) 100%
  ) !important;
  --bs-alert-padding-y: 0.1rem !important;
  margin-bottom: 5px !important;
  margin-top: -10px !important;
  border: 0 !important;
}
.UncheckDiv {
  background-image: url(/imgs/box.png);
}

.CheckedDiv {
  background-image: url(/imgs/check.png);
}
.UncheckDiv,
.CheckedDiv {
  background-size: cover;
  width: 40px;
  height: 40px;
  position: relative;
  top: 15px;
  left: 13px;
}
.btn-update button {
  background-color: #c3c3c3;
  border: 0;
  position: relative;
  top: 15px;
}
.alert {
  position: relative;
  top: 5px;
}
.btn-update button:hover {
  background-color: #606060 !important;
  border: 0;
}

#deleteBtn {
  background-color: rgb(199, 199, 199);
  color: white;
}
#deleteBtn:hover {
  background-color: rgb(49, 49, 49) !important;
  color: white !important;
}
.topPage {
  position: fixed;
  text-align: center;
  width: 800px;
  margin: auto;
  margin-top: -80px;
  padding-top: 120px;
  background-color: white;
  z-index: 10;
}
main {
  padding-top: 170px;
  width: 100%;
}
#time {
  display: inline-block;
  color: gray;
  font-size: 16px;
  float: left;
  padding-right: 5px;
  margin-bottom: 0;
}
.badge {
  background-color: rgb(0, 0, 0) !important;
  --bs-secondary-rgb: 0, 0, 0;
}

.form-check-input {
  position: relative;
  top: 10px;
}
.infoTodo Button {
  margin-left: 5px;
  float: right;
  font-size: 16px;
  font-weight: 500;
  height: 32px;
  color: rgb(101, 101, 101) !important;
  background-color: #e0e0e0 !important;
  border: 1px solid #e3e7ea !important;
}
.infoTodo Button:hover {
  background-color: #787878 !important;
  color: white !important;
}

span button {
  margin-left: 5px;
  float: right;
  font-size: 14px;
  font-weight: 300;
  height: 30px;
  color: rgb(165, 165, 165) !important;
  background-color: #f8f9fa !important;
  border: 1px solid #ffffff !important;
  position: relative;
  top: -2px;
  left: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
